
.modalWrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.7);
    &__container{
        top: 50%;
        color: #000;
        position: relative;
        max-width: 30%;
        left: 0;
        right: 0;
        background: #fff;
        margin: 0 auto;
        min-width: 300px;
        padding: 50px;
        font-weight: bold;
        transform: translateY(-50%);
        &__option{
            display: flex;
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            div{
                border: 1px solid #000;
                border-radius: 40px;
                overflow: hidden;
                margin-left: 15px;
            }
            .active{
                background: #03fcc6;
            }
            span{
                border-right: 1px solid #000;
                padding: 9px;
                display: inline-block;
                min-width: 23px;
                text-align: center;
                transition: $transition;
                cursor: pointer;
                &:hover,.active{
                    background: #03fcc6;
                }
                &:last-of-type{
                    border: 0;
                }
            }
        }
    }
}

.close-btn{
    text-align: center;
    width: 100%;
    border: 1px solid #000;
    display: block;
    padding: 10px;
    margin-top: 30px;
    box-sizing: border-box;
    cursor: pointer;
    transition: $transition;
    &:hover{
        background: #000;
        color: #fff
    }
}