.imagePopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgba(51, 51, 51, 0.90);
    transition: $transition;
    &--visible{
        height: 100%;
    }
    &__close{
        position: absolute;
        top: -30px;
        right: 0px;
        font-size: 22px;
        transition: $transition;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }
    &__wrap{
        position: relative;
    }
} 