.lists{
    justify-content:space-between;
    align-items: flex-start;
    @media(max-width: 1200px){
        justify-content: space-around;
    }
}
.listWrap{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    border: 1px solid #333;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    min-width: 260px;
    overflow: hidden;
    &__element{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        padding: 10px;
        transition: $transition;
        box-sizing: border-box;
        // &:first-of-type{
        //     border-radius: 0;
        // }
        // &:last-of-type{
        //     border-radius: 0
        // }
        // &:only-of-type{
        //     border-radius: 0;
        // }
        &:hover{
            background: #8b8b8b;
        }
        &__image{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
        }
        &__desc{
            margin-left: 5%;
        }
    }

    &__select{
        width: 100%;
        height: 40px;
        border-width: 0 0 1px 0;
        border-style:solid;
        border-color: #333;
        background: transparent;
        font-weight: bold;
        padding: 5px;
        option{
            background: #333;
            color: #fff;
            border: 0;
            font-size: 15px;
        }
    }
    &__empty{
        padding: 10px 5px;
        text-align: center;
        width: 100%;
    }
    &__more{
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        border-top: 1px solid;
        border-color: #000;
        padding: 11px;
        transition: $transition;
        font-weight: bold;
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;
        &:hover{
            background: #000;
            color: #fff;
        }
    }
}

.darkApp{
    .listWrap{
        border-color: #03fcc6;
        &__element{
            &:hover{
                background: #2b2b2b;
            }
        }
        &__select{
            border-color: #03fcc6;
            color: #03fcc6;
        }
        &__more{
            border-color: #03fcc6;
            &:hover{
                background: #03fcc6;
                color: #000;
            }
        }
    }
}