/* variables */
$transition: 0.4s;

.App {
  min-height: 100vh;
}

.darkApp{
  background: #333;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.row{
    display: flex;
    flex-wrap:wrap;
}


.img-fluid{
    max-width: 100%;
    height: auto;
}

.loading{
    width: 100%;
    text-align: center;
}